@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "style.css";

.main-container {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
}

.btn-main {
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(to bottom right, -fx-third-color, -fx-second-color, -fx-main-color);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.btn-main:hover {
    -fx-font-size: 22px;
    -fx-cursor: hand;
}

.btn-none {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-font-size: 32px;
    -fx-cursor: hand;
}
.btn-none:hover {
    -fx-font-size: 34px;
    -fx-cursor: hand;
}

.second-container {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
}

.table-name {
    -fx-text-fill: black;
    -fx-font-size: 18px;
}
.table-count{
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.table-container {
    -fx-background-color: none;
    -fx-border-color: -fx-third-color;
}
.table-container .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-container .column-header {
    -fx-background-color: -fx-second-color;
}
.table-container .table-cell{
    -fx-border-color: black;
    -fx-padding: 2 0 2 10px;
}


.signout:hover {
    -fx-cursor: hand;
    -fx-font-size: 32px;
}

.btn-toggler {
    -fx-background-color: linear-gradient(to bottom right, -fx-third-color, -fx-second-color);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.input-name, .input-product {
    -fx-background-color: none;
    -fx-border-color: -fx-main-color;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 20px;
}

.input-db {
    -fx-font-size: 20px;
    -fx-background-color: none;
    -fx-border-color: -fx-main-color;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.input-date{
    -fx-background-color: none;
    -fx-border-color: -fx-main-color;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 20px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-row-cell:selected{
    -fx-background-color: lightgray;
}

.table-view .column-header {
    -fx-background-color: -fx-second-color;
}